<div style="width: 100%" class="btn-group" role="group">
    <button (click)="refreshTree()" style="padding: 9px" type="button" class="btn btn-default">
        <span class="fa fa-refresh"></span>
    </button>
    <button style="padding: 9px" type="button" class="b btn btn-default">
        <span class="fa fa-minus"></span>
    </button>
    <button style="padding: 9px" type="button" class=" btn btn-default">
        <span *ngIf="accountValidity" style="color: green" class="fa fa-check-square"></span>
        <span *ngIf="!accountValidity" style="color: red" class="fa fa-minus-square "></span>
    </button>
    <h2 style="display: inline; position: relative; top: -3px; left: 10px">{{totalFilteredPlayers}}</h2>
</div>
<br/>
<input placeholder="paste Dropbox token" class="form-control" style="width: 99.9%" type="password" (blur)="onTokenChange($event)" [(ngModel)]="token"/>
<br/>
<!--<div style="margin-top:8px">Selected Node: {{selectedFile ? selectedFile.label : 'none'}}</div>-->
<div style="height: 200px; width: 100%; overflow: scroll">
    <p-tree [value]="nodes" selectionMode="single" [(selection)]="selectedFile"
            (onNodeSelect)="nodeSelect($event)" (onNodeUnselect)="nodeUnselect($event)">
    </p-tree>
</div>
<div style="height: 200px; width: 100%; overflow: scroll">
    <ul class="list-group">
        <li class="list-group-item" *ngFor="let file of files">
            <button (click)="onAddResource(file)" href="#" class="btn btn-small">
                <i class="fa fa-plus"></i>
            </button>
            {{file.fileRoot}}
        </li>
    </ul>
</div>